.recent-notes {
  & > h3 {
    margin: 0.5rem 0 0 0;
    font-size: 1rem;
  }

  & > ul.recent-ul {
    list-style: none;
    margin-top: 0.5rem;
    padding-left: 0;

    & > li {
      margin: 0.15rem 0;
      .section > .desc > h3 > a {
        background-color: transparent;
        font-size: 0.9rem;
      }
      
      .section > .desc > h3 > .note-date {
        margin-left: 0.5rem;
        font-size: 0.7rem;
        color: var(--gray);
        font-weight: normal;
      }
    }
  }
}
